@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="">Hola Alumnes de Cordoba</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Este es el mejors  asdasdasd  curso</p>


</div>
